<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script src="../lib/init/loadFiles.js"></script>
<style type="text/css">
</style>
<style type="text/less">
</style>
</head>
<body>
    <div class="main-content">
    		<div class="search-wrapper">
    			<div class="input-group">
		      <input type="text" class="form-control" placeholder="请输入您要搜索的内容...">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
		      </span>
		    </div><!-- /input-group -->
    		</div>
    		
    		<ul class="tab-wrapper" role="tablist">
		    <li role="presentation" class="active"><a href="#app-1" aria-controls="app-1" role="tab" data-toggle="tab">APP软著</a></li>
		    <li role="presentation"><a href="#app-2" aria-controls="app-2" role="tab" data-toggle="tab">APP软著补发</a></li>
		</ul>
		<div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="app-1">
		    		<div class="scroll-wrapper scroll-wrapper-type1 content" id="content">
		    			<ul class="app-list">
		    				<li>
		    					<div class="app-info">
		    						<div class="app-detail">
		    							<img src="../lib/style/images/logo-hua.png" alt="" class="icon" />
			    						<div class="appname">版信通_云门_201801091026</div>
			    						<div class="state state-1">办理中</div>
		    						</div>
		    						<p class="info-group">
		    							<span class="title">版本号</span>
		    							<span class="desc">1.1.1.1</span>
		    						</p>
		    						<p class="info-group">
		    							<span class="title">著作权人</span>
		    							<span class="desc">合玖必婚</span>
		    						</p>
		    						<p class="info-group">
		    							<span class="title">登记时间</span>
		    							<span class="desc">2017-09-09</span>
		    						</p>
		    						<p class="info-group">
		    							<span class="title">剩余天数</span>
		    							<span class="desc">4天</span>
		    						</p>
		    						<p class="desc">一些备注信息或者评论内容等，备注信息或者评论内容等，备注信息或者评论内容等。</p>
		    					</div>
		    				</li>
		    				<li>
		    					<div class="app-info">
		    						<div class="app-detail">
		    							<img src="../lib/style/images/logo-yi.png" alt="" class="icon" />
			    						<div class="appname">版信通_云门_201801091026</div>
			    						<div class="state state-0">未提交</div>
		    						</div>
		    						<p class="info-group">
		    							<span class="title">版本号</span>
		    							<span class="desc">1.1.1.1</span>
		    						</p>
		    						<p class="info-group">
		    							<span class="title">著作权人</span>
		    							<span class="desc">合玖必婚</span>
		    						</p>
		    						<p class="info-group">
		    							<span class="title">登记时间</span>
		    							<span class="desc">2017-09-09</span>
		    						</p>
		    						<p class="info-group">
		    							<span class="title">剩余天数</span>
		    							<span class="desc">4天</span>
		    						</p>
		    						<p class="desc">一些备注信息或者评论内容等，备注信息或者评论内容等，备注信息或者评论内容等。</p>
		    					</div>
		    				</li>
		    				<li>
		    					<div class="app-info">
		    						<div class="app-detail">
		    							<img src="../lib/style/images/logo-ju.png" alt="" class="icon" />
			    						<div class="appname">版信通_云门_201801091026</div>
			    						<div class="state state-2">已完成</div>
		    						</div>
		    						<p class="info-group">
		    							<span class="title">版本号</span>
		    							<span class="desc">1.1.1.1</span>
		    						</p>
		    						<p class="info-group">
		    							<span class="title">著作权人</span>
		    							<span class="desc">合玖必婚</span>
		    						</p>
		    						<p class="info-group">
		    							<span class="title">登记时间</span>
		    							<span class="desc">2017-09-09</span>
		    						</p>
		    						<p class="info-group">
		    							<span class="title">剩余天数</span>
		    							<span class="desc">4天</span>
		    						</p>
		    						<p class="desc">一些备注信息或者评论内容等，备注信息或者评论内容等，备注信息或者评论内容等。</p>
		    					</div>
		    				</li>
		    				<li>
		    					<div class="app-info">
		    						<div class="app-detail">
		    							<img src="../lib/style/images/logo-ju.png" alt="" class="icon" />
			    						<div class="appname">版信通_云门_201801091026</div>
			    						<div class="state state-2">已完成</div>
		    						</div>
		    						<p class="info-group">
		    							<span class="title">版本号</span>
		    							<span class="desc">1.1.1.1</span>
		    						</p>
		    						<p class="info-group">
		    							<span class="title">著作权人</span>
		    							<span class="desc">合玖必婚</span>
		    						</p>
		    						<p class="info-group">
		    							<span class="title">登记时间</span>
		    							<span class="desc">2017-09-09</span>
		    						</p>
		    						<p class="info-group">
		    							<span class="title">剩余天数</span>
		    							<span class="desc">4天</span>
		    						</p>
		    						<p class="desc">一些备注信息或者评论内容等，备注信息或者评论内容等，备注信息或者评论内容等。</p>
		    					</div>
		    				</li>
		    				<li>
		    					<div class="app-info">
		    						<div class="app-detail">
		    							<img src="../lib/style/images/logo-ju.png" alt="" class="icon" />
			    						<div class="appname">版信通_云门_201801091026</div>
			    						<div class="state state-2">已完成</div>
		    						</div>
		    						<p class="info-group">
		    							<span class="title">版本号</span>
		    							<span class="desc">1.1.1.1</span>
		    						</p>
		    						<p class="info-group">
		    							<span class="title">著作权人</span>
		    							<span class="desc">合玖必婚</span>
		    						</p>
		    						<p class="info-group">
		    							<span class="title">登记时间</span>
		    							<span class="desc">2017-09-09</span>
		    						</p>
		    						<p class="info-group">
		    							<span class="title">剩余天数</span>
		    							<span class="desc">4天</span>
		    						</p>
		    						<p class="desc">一些备注信息或者评论内容等，备注信息或者评论内容等，备注信息或者评论内容等。</p>
		    					</div>
		    				</li>
		    			</ul>
		    		</div>
		    </div>
		    <div role="tabpanel" class="tab-pane" id="app-2">2...</div>
		</div>
    </div>
    <div class="footer-wrapper">
    		<ul class="tab-footer">
    			<li class="active">
    				<a href="home.html">
    					<i class="fa fa-home"></i>
    					<span class="desc">首页</span>
    				</a>
    			</li>
    			<li>
    				<a href="setting.html">
    					<i class="fa fa-gear"></i>
    					<span class="desc">设置</span>
    				</a>
    			</li>
    		</ul>
    </div>
</body>
</html>
<script src="../lib/init/loadFiles-after.js"></script>
<script>
$(function(){
    var counter = 0;
    // 每页展示4个
    var num = 4;
    var pageStart = 0,pageEnd = 0;

    // dropload
    $('.content').dropload({
        scrollArea : window,
        domUp : {
            domClass   : 'dropload-up',
            domRefresh : '<div class="dropload-refresh">↓下拉刷新-自定义内容</div>',
            domUpdate  : '<div class="dropload-update">↑释放更新-自定义内容</div>',
            domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中-自定义内容...</div>'
        },
        domDown : {
            domClass   : 'dropload-down',
            domRefresh : '<div class="dropload-refresh">↑上拉加载更多-自定义内容</div>',
            domLoad    : '<div class="dropload-load"><span class="loading"></span>加载中-自定义内容...</div>',
            domNoData  : '<div class="dropload-noData">暂无数据-自定义内容</div>'
        },
        loadUpFn : function(me){
            alert(1)
            setTimeout(function(){
                // 每次数据加载完，必须重置
                me.resetload();
            },1000);
        },
        loadDownFn : function(me){
            //alert(2)
            setTimeout(function(){
                // 每次数据加载完，必须重置
                me.resetload();
            },1000);
        },
        threshold : 50
    });
});
</script>
