<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../lib/init/loadFiles.js"></script>
</head>
<body class="page-home">
    <div class="ui-header">
        <div class="ui-limit">
            <div class="ui-logo">
                <img class="ui-logo-img" src="../lib/style/images/logo.png" alt="" />
            </div>
            <div class="ui-search">
               <input type="text" class="ui-search-input" placeholder="请输入关键字...">
               <button class="ui-search-btn"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="ui-limit">
            <ul class="ui-nav">
                <li class="active">首页</li>
                <li>Oa系统</li>
                <li>邮件系统</li>
                <li>法务系统</li>
                <li>财务预算管理系统</li>
                <li>人力资源管理系统</li>
                <li>法务系统</li>
                <li>档案管理系统</li>
            </ul>
        </div>
    </div>
    <div class="ui-banner">
        <div class="ui-limit row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img  alt="First slide [900x500]" src="../lib/style/images/banner/banner01.png" data-holder-rendered="true">
                  
                </div>
                <div class="item" style="background-color:#df3031;">
                  <img alt="Second slide [900x500]" src="../lib/style/images/banner/banner02.png" data-holder-rendered="true">
                  
                </div>
                <div class="item" style="background-color:#0c2240;">
                  <img  alt="Third slide [900x500]" src="../lib/style/images/banner/banner03.png" data-holder-rendered="true">
                </div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class=" fa fa-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class=" fa fa-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="panel panel-login">
                <div class="panel-heading">登录入口</div>
                <div class="panel-body">
                    <ul class="login-wrap">
                        <li><input type="text" class="form-control" placeholder="请输入用户名"/></li>
                        <li><input type="password" class="form-control" placeholder="请输入密码"/></li>
                        <li><div class="rempass">记住用户名密码</div><div class="forgetpass">需要帮助？</div></li>
                        <li><button class="btn btn-danger">登录</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-content">
        <div class="ui-limit">
            <div class="ui-row row">
                <div class="col-xs-3"><!--col-01-->
                    
                    <div class="panel panel-weather">
                        <div class="panel-heading">天气</div>
                        <div class="panel-body">
                            <div class="weather-wrap">
                                <i class="fa fa-sun-o weather-icon t-orange"></i>
                                <ul class="weather-info">
                                    <li><span class="num-degree">21 <i class="mark-degree">℃</i></span>晴</li>
                                    <li>4 ~ 20℃ 西南风微风</li>
                                    <li>西安 <a href="#">切换城市</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-stocks">
                        <div class="panel-heading panel-heading-justified">
                            <ul class="panel-tabs" role="tablist">
                              <li role="presentation" class="active"><a href="#stocks-01" id="stocks-tab-01" role="tab" data-toggle="tab" aria-controls="stocks-01" aria-expanded="false">延长化建</a></li>
                              <li role="presentation" class=""><a href="#stocks-02" role="tab" id="stocks-tab-02" data-toggle="tab" aria-controls="stocks-02" aria-expanded="true">兴化股份</a></li>
                              <li role="presentation" class=""><a href="#stocks-03" role="tab" id="stocks-tab-03" data-toggle="tab" aria-controls="stocks-03" aria-expanded="true">中国石油</a></li>
                              <li role="presentation" class=""><a href="#stocks-04" role="tab" id="stocks-tab-04" data-toggle="tab" aria-controls="stocks-04" aria-expanded="true">中国石化</a></li>
                             </ul>
                            </div>
                        <div class="panel-body">
                            <div class="tab-content">
                              <div role="tabpanel" class="tab-pane fade active in" id="stocks-01" aria-labelledby="stocks-tab-01">
                                  <img src="../lib/style/images/temp/ychj.gif" style="width:100%;" alt="" />
                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="stocks-02" aria-labelledby="stocks-tab-02">
                                  <img src="../lib/style/images/temp/xhgf.gif" style="width:100%;" alt="" />
                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="stocks-03" aria-labelledby="stocks-tab-03">
                                  <img src="../lib/style/images/temp/zgsy.gif" style="width:100%;" alt="" />
                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="stocks-04" aria-labelledby="stocks-tab-04">
                                  <img src="../lib/style/images/temp/zgsh.gif" style="width:100%;" alt="" />
                              </div>
                            </div>
                        </div>
                    </div>
                    
                     <div class="panel panel-newspaper">
                        <div class="panel-heading">延长石油报<a href="#" class="more">更多 <i class="fa fa-angle-right"></i></a></div>
                        <div class="panel-body">
                            <div id="newspaper" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                                <li data-target="#newspaper" data-slide-to="0" class="active"></li>
                                <li data-target="#newspaper" data-slide-to="1" class=""></li>
                                <li data-target="#newspaper" data-slide-to="2" class=""></li>
                              </ol>
                              <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                  <img  src="../lib/style/images/temp/newspaper1.png" data-holder-rendered="true">
                                  <div class="carousel-caption">
                                    <h4>20170411期</h4>
                                  </div>
                                </div>
                                <div class="item" >
                                  <img  src="../lib/style/images/temp/newspaper2.png" data-holder-rendered="true">
                                  <div class="carousel-caption">
                                    <h4>20170410期</h4>
                                  </div>
                                </div>
                                <div class="item">
                                  <img   src="../lib/style/images/temp/newspaper3.png" data-holder-rendered="true">
                                  <div class="carousel-caption">
                                    <h4>20170409期</h4>
                                  </div>
                                </div>
                              </div>
                              <a class="left carousel-control" href="#newspaper" role="button" data-slide="prev">
                                <span class=" fa fa-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="right carousel-control" href="#newspaper" role="button" data-slide="next">
                                <span class=" fa fa-chevron-right"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="panel panel-video">
                        <div class="panel-heading">油田公司视频新闻 <a href="#" class="more">更多 <i class="fa fa-angle-right"></i></a></div>
                        <div class="panel-body">
                            <img src="../lib/style/images/temp/video.jpg" style="width:100%;" alt="" />
                        </div>
                    </div>
                    
                </div><!--col-01 end-->
                
                <div class="col-xs-6"><!--col-02-->
                    <div class="panel panel-row-1 panel-scroll">
                        <div class="panel-heading">
                            <ul class="panel-tabs" role="tablist">
                              <li role="presentation" class="active"><a href="#company-news" id="company-news-tab" role="tab" data-toggle="tab" aria-controls="company-news" aria-expanded="false">油田公司新闻</a></li>
                              <li role="presentation" class=""><a href="#group-news" role="tab" id="group-news-tab" data-toggle="tab" aria-controls="group-news" aria-expanded="true">集团公司新闻</a></li>
                             </ul>
                            </div>
                        <div class="panel-body">
                            <div class="tab-content">
                              <div role="tabpanel" class="tab-pane fade active in" id="company-news" aria-labelledby="home-tab">
                                  <ul class="news-list">
                                      <li>陕西日报：延长石油碳捕集与封存研究获重要进展<span class="date">04-01</span></li>
                                      <li>战地黄花分外香<span class="date">03-29</span></li>
                                      <li>四川销售公司：直向蜀道拓新天<span class="date">03-29</span></li>
                                      <li>李金柱在延长石油所属企业调研李金柱在延长石油所属企业调研李金柱在延长石油所属企业调研<span class="date">03-28</span></li>
                                      <li>集团公司召开物资集中管理和招标工作会<span class="date">03-26</span></li>
                                      <li>江苏索普集团董事长凌荣春来访交流<span class="date">03-26</span></li>
                                      <li>贺久长会见沙特阿拉伯石油公司总裁阿敏•纳瑟尔<span class="date">03-25</span></li>
                                      <li>经济日报：我国成功实现煤制酒精工业化<span class="date">03-25</span></li>
                                      <li>中国网：全球首套煤基乙醇工业示范项目投产成功<span class="date">03-24</span></li>
                                  </ul>
                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="group-news" aria-labelledby="profile-tab">
                                  <ul class="news-list">
                                      <li>中国煤炭限产措施出现松动<span class="date">04-01</span></li>
                                      <li>中国今年有望超美国成全球最大原油进口国<span class="date">03-29</span></li>
                                      <li>史上最严督查来袭 成品油市场或遭遇“环保风暴”<span class="date">03-29</span></li>
                                      <li>中国正大力推进高难度能源结构转型<span class="date">03-28</span></li>
                                      <li>油价仍在跌势中 拐点并不遥远<span class="date">03-26</span></li>
                                      <li>中国今年液化石油气进口量或将达到2千万吨<span class="date">03-26</span></li>
                                      <li>世界经济论坛：大型经济体改善能源架构面临更多挑战<span class="date">03-25</span></li>
                                      <li>国内成品油限价将迎两连跌 为今年以来最大跌幅<span class="date">03-23</span></li>
                                      <li>油气产业发展蓝皮书:我国原油对外依存度升至65.4%<span class="date">03-23</span></li>
                                      <li>经济日报：我国成功实现煤制酒精工业化<span class="date">03-23</span></li>
                                      <li>中国网：全球首套煤基乙醇工业示范项目投产成功<span class="date">03-22</span></li>
                                  </ul>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="panel panel-infomation  panel-scroll">
                        <div class="panel-heading">
                            <ul class="panel-tabs" role="tablist">
                              <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false">油田资讯</a></li>
                              <li role="presentation" class=""><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="true">延长石油动态</a></li>
                             </ul>
                            </div>
                        <div class="panel-body">
                            <div class="tab-content">
                              <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
                                  <ul class="news-list">
                                      <li>中国煤炭限产措施出现松动<span class="date">04-01</span></li>
                                      <li>中国今年有望超美国成全球最大原油进口国<span class="date">03-29</span></li>
                                      <li>史上最严督查来袭 成品油市场或遭遇“环保风暴”<span class="date">03-29</span></li>
                                      <li>中国正大力推进高难度能源结构转型<span class="date">03-28</span></li>
                                      <li>油价仍在跌势中 拐点并不遥远<span class="date">03-26</span></li>
                                      <li>中国今年液化石油气进口量或将达到2千万吨<span class="date">03-26</span></li>
                                      <li>世界经济论坛：大型经济体改善能源架构面临更多挑战<span class="date">03-25</span></li>
                                      <li>国内成品油限价将迎两连跌 为今年以来最大跌幅<span class="date">03-23</span></li>
                                      <li>油气产业发展蓝皮书:我国原油对外依存度升至65.4%<span class="date">03-23</span></li>
                                      <li>经济日报：我国成功实现煤制酒精工业化<span class="date">03-23</span></li>
                                      <li>中国网：全球首套煤基乙醇工业示范项目投产成功<span class="date">03-22</span></li>
                                  </ul>
                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                                  2
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="panel panel-infomation  panel-scroll">
                        <div class="panel-heading">
                            <ul class="panel-tabs" role="tablist">
                              <li role="presentation" class="active"><a href="#info" id="info-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false">信息参考</a></li>
                             </ul>
                            </div>
                        <div class="panel-body">
                            <div class="tab-content">
                              <div role="tabpanel" class="tab-pane fade active in" id="info" aria-labelledby="info-tab">
                                  <ul class="news-list">
                                      <li>中国煤炭限产措施出现松动<span class="date">04-01</span></li>
                                      <li>中国今年有望超美国成全球最大原油进口国<span class="date">03-29</span></li>
                                      <li>史上最严督查来袭 成品油市场或遭遇“环保风暴”<span class="date">03-29</span></li>
                                      <li>中国正大力推进高难度能源结构转型<span class="date">03-28</span></li>
                                      <li>油价仍在跌势中 拐点并不遥远<span class="date">03-26</span></li>
                                      <li>中国今年液化石油气进口量或将达到2千万吨<span class="date">03-26</span></li>
                                      <li>世界经济论坛：大型经济体改善能源架构面临更多挑战<span class="date">03-25</span></li>
                                      <li>国内成品油限价将迎两连跌 为今年以来最大跌幅<span class="date">03-23</span></li>
                                      <li>油气产业发展蓝皮书:我国原油对外依存度升至65.4%<span class="date">03-23</span></li>
                                      <li>经济日报：我国成功实现煤制酒精工业化<span class="date">03-23</span></li>
                                      <li>中国网：全球首套煤基乙醇工业示范项目投产成功<span class="date">03-22</span></li>
                                  </ul>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div><!--col-02 end-->
                <div class="col-xs-3"><!--col-03-->
                    <div class="panel panel-toolbox panel-scroll">
                        <div class="panel-heading">数字化办公平台</div>
                        <div class="panel-body">
                            
                            <ul class="toolbox row">
                                <li class="col-xs-4">
                                    <i class="fa fa fa-yen"></i>
                                    <a herf="#" class="desc">财务预算管理系统</a>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-user-circle-o"></i>
                                    <a herf="#" class="desc">人力资源管理系统</a>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-industry"><span class="badge bg-major">3</span></i>
                                    <a herf="#" class="desc">延长石油生产管理系统</a>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-bank"></i>
                                    <a herf="#" class="desc">法务系统</a>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-briefcase"><span class="badge bg-major">21</span></i>
                                    <a herf="#" class="desc">档案管理系统 </a>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-cubes"></i>
                                    <a herf="#" class="desc">物资管理</a>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-gears"></i>
                                    <a herf="#" class="desc">设备管理系统</a>
                                </li>
                                
                                <li class="col-xs-4">
                                    <i class="fa fa-bullseye"></i>
                                    <a herf="#" class="desc">招标管理系统</a>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa fa-bar-chart-o"></i>
                                    <a herf="#" class="desc">统计报表管理系统</a>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-shield"></i>
                                    <a herf="#" class="desc">安全环保管理系统 </a>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-puzzle-piece"></i>
                                    <a herf="#" class="desc">开发动态分析系统</a>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-stethoscope"><span class="badge bg-major">2</span></i>
                                    <a herf="#" class="desc">体检管理系统</a>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-money"></i>
                                    <a herf="#" class="desc">公积金管理系统 </a>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-database"></i>
                                    <a herf="#" class="desc">万方数据库</a>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-users"></i>
                                    <a class="desc">油田团委</a>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                    
                    <div class="panel panel-international">
                        <div class="panel-heading panel-heading-justified">
                            <ul class="panel-tabs" role="tablist">
                              <li role="presentation" class="active"><a href="#inter-01" id="inter-tab-01" role="tab" data-toggle="tab" aria-controls="inter-01" aria-expanded="false">国际油价</a></li>
                              <li role="presentation" class=""><a href="#inter-02" role="tab" id="inter-tab-02" data-toggle="tab" aria-controls="inter-02" aria-expanded="true">国内油价指数</a></li>
                             </ul>
                            </div>
                        <div class="panel-body">
                            <div class="tab-content">
                              <div role="tabpanel" class="tab-pane fade active in" id="inter-01" aria-labelledby="inter-tab-01">
                                  <img src="../lib/style/images/temp/gjyj.png" style="width:100%;" alt="" />
                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="inter-02" aria-labelledby="inter-tab-02">
                                  <img src="../lib/style/images/temp/gnjgzs.png" style="width:100%;" alt="" />
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="panel panel-interna-chart">
                        <div class="panel-heading">国际油价走势图</div>
                        <div class="panel-body">
                            <img src="../lib/style/images/temp/gjyjzst.png" style="width:100%;" alt="" />
                        </div>
                    </div>
                    
                   
                    
                    
                </div><!--col-03 end-->
            </div><!--ui-row-->
            
<style type="text/css" media="screen">
.carousel .carousel-caption{left:0;right:0;background-color: rgba(0,0,0,.2);  bottom:0; padding:0 20px 30px 20px; }   
.carousel .carousel-indicators{bottom:0!important; }   
.panel-group-bottom .panel{border-top:3px solid #cc0011; border-radius:0;   background:linear-gradient(#eee,#fff);}
.ui-content .panel-navList .panel-body{padding:0px; overflow: hidden; height:220px; position: relative;}
.ui-content .panel-navList .panel-body .panel-ctrl{position: absolute; bottom:10px; right:10px; width: 40px; height:40px; font-size: 1.8em;}
.navBottom-list{margin:10px 20px; float: left; width: 320px;}
.navBottom-list li{float: left; padding:0 10px; color:#000; cursor: pointer; line-height: 40px; font-family: "Microsoft Yahei", "宋体"; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.navBottom-list li:hover{color:#003399;}
.navBottom-list li.title{font-weight: bold; font-size: 1.2em;float:none;}

.ui-footer{margin:20px 0 0 0; height:180px; position: relative;  color:#000;}
.ui-footer .ui-limit{position: relative; background-color: #fff;height:180px;}
.ui-footer .footer-links{text-align: center;border: 1px solid rgba(0,0,0,.1); border-left: none;border-right: none; }  
.ui-footer .footer-links li{display:inline; line-height: 40px; padding:0 10px; cursor: pointer;}   
.ui-footer .footer-links li:hover{color:#003399;}
.ui-footer .copyright{position: absolute; top:80px; left:560px;}
.ui-footer .adress{position: absolute; top:80px; left:140px; border-right: 1px solid #ccc; padding-right:20px;}
.ui-footer .copyright li,
.ui-footer .adress li{line-height: 30px; font-size: 1.1em; }
.ui-footer img{width: 100px;}
.ui-footer .findFake,
.ui-footer .infoCode,
.ui-footer .govRed{position: absolute;}
.ui-footer .govRed{left:20px; top:60px;}
.ui-footer .findFake{top:70px; right:160px; width: 140px;}
.ui-footer .infoCode{top:60px;right:20px;  width: 100px;}
</style>            
            <div class="panel-group panel-group-bottom">
                <div class="panel panel-default panel-navList">
                  <div class="panel-body">
                      <button class="panel-ctrl" onclick="toggleHeight()" title="展开更多"><i class="fa fa-angle-down"></i></button>
                      <ul class="navBottom-list">
                          <li class="title">知识共享</li>
                          <li>规章制度</li>
                          <li>内部简报</li>
                          <li>办公表格</li>
                          <li>培训资料</li>
                          <li>英语教室</li>
                          <li>电子图书馆</li>
                          <li>人民日报50年</li>
                          <li>国家法规数据库</li>
                          <li>期刊博硕论文数据库</li>
                          <li>国家数字图书馆读者门户</li>
                      </ul>
                      <ul class="navBottom-list" style="width:380px">
                          <li class="title">服务指南</li>
                          <li>SEP安装指南</li>
                          <li>VPN系统使用</li>
                          <li>电子公文安装</li>
                          <li>门户操作指南</li>
                          <li>楼层分布情况</li>
                          <li>代理服务器设置</li>
                          <li>DNS服务设置指南</li>
                          <li>和宫系统安装指南</li>
                          <li>电子邮件设置指南</li>
                          <li>办公楼救援与疏散</li>
                          <li>信息系统帮助热线</li>
                          <li>SAP客户端安装指南</li>
                          <li>USBkey数字证书使用指南</li>
                      </ul>
                      <ul class="navBottom-list">
                          <li class="title">实用查询</li>
                          <li>工行薪资</li>
                          <li>天气查询</li>
                          <li>邮政编码</li>
                          <li>长途区号</li>
                          <li>火车查询</li>
                          <li>航班查询</li>
                          <li>电子地图</li>
                          <li>在线翻译</li>
                          <li>字典辞典</li>
                          <li>电脑价格</li>
                          <li>汽车报价</li>
                          <li>五笔编码</li>
                          <li>交通违章</li>
                          <li>签约宾馆</li>
                          <li>电子贺卡</li>
                          <li>手机号码</li>
                          <li>万年历</li>
                          <li>12306</li>
                      </ul>
                      <ul class="navBottom-list" style="width:120px;">
                          <li class="title">互动交流</li>
                          <li>ERP问题平台</li>
                          <li>网上举报</li>
                          <li>网上调查</li>
                          <li>网上评选</li>
                          <li>建议留言</li>
                          <li>门户支持</li>
                      </ul>


                  </div>
                </div>
            </div><!--panel-group-bottom end-->
            
        </div><!--ui-limit end-->
    </div><!--ui-content end-->
    
    <div class="ui-footer">
        <div class="ui-limit">
            <ul class="footer-links">
                <li>网站地图</li>
                <li>法律声明</li>
                <li>联系我们</li>
                <li>设为首页</li>
                <li>加入收藏</li>
                <li>法律全集</li>
                <li>用户注册</li>
            </ul>
            <img src="../lib/style/images/temp/red.png" class="govRed" alt="" />
            <img src="../lib/style/images/temp/code.png" class="infoCode" alt="" />
            <ul class="copyright">
                <li>延长石油 版权所有 授权转载</li>
                <li>陕ICP备06017241号   </li>
            </ul>
            <ul class="adress">
                <li>陕西省西安市某某路18号华融大厦 邮编:0123345</li>
                <li>Phone:01234123 Email:ayin86@163.com</li>
            </ul>
        </div>
    </div>
</body>
</html>
<script type="text/javascript" charset="utf-8">
function toggleHeight(){
    var obj=$(".panel-navList .panel-body");
    if(obj.height()>230){
        obj.height(220);
        obj.find(".fa").removeClass("fa-angle-up").addClass("fa-angle-down");
    }else{
        obj.height(300);
        obj.find(".fa").removeClass("fa-angle-down").addClass("fa-angle-up");
    }
    
}
	$(".rempass").interaction({type:"checkbox"});
</script>
<script src="../lib/init/loadFiles-after.js"></script>
