<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script src="../lib/init/loadFiles.js"></script>
<style type="text/css">
</style>
<style type="text/less">
</style>
</head>
<body class="page-login">
    <div class="login">
    		<div class="logo"><img src="../lib/style/images/logo.png" alt="" /></div>
    		<ul class="intro-list">
    			<li><a href="#" class="btn btn-default" onclick="showLogin('ybq');"><img src="../lib/style/images/logo-yi.png" alt="" />易版权账号登陆</a></li>
    			<li><a href="#" class="btn btn-default" onclick="showLogin('hw');"><img src="../lib/style/images/logo-hua.png" alt="" />华为账号登陆</a></li>
    			<li><a href="#" class="btn btn-default" onclick="showLogin('jc');"><img src="../lib/style/images/logo-ju.png" alt="" />聚传账号登陆</a></li>
    			<li class="hidden">
				<div class="alert alert-info">
					<p>没有账户？请先<a href="#">注册</a>！</p>
				</div>
			</li>
    		</ul>
    		<ul class="login-input">
    			<li class="login-head">
    				<div class="back" onclick="retrunBtn();">
    					<i class="fa fa-arrow-circle-left"></i>
    					<span class="desc">返回</span>
    				</div>
    				<div class="type">
    					<img src="../lib/style/images/logo-hua.png" alt="" />
    					<span class="desc">华为账号登陆</span>
    				</div>
    			</li>
            <li class="user-wrap">
                <i class="fa fa-user"></i>
                <input type="text"  name="some_name" value="" placeholder="请输入用户名" id="some_name"/>
            </li>
            <li class="pass-wrap">
                <i class="fa fa-lock"></i>
                <div class="rem-pass" data-toggle="tooltip" data-placement="right"  title="记住密码" data-placement="left" ></div>
                <input type="password" name="some_name" placeholder="请输入密码" value="" id="some_pass"/>
            </li>
            <li class="help-wrap hidden">
            		<a class="left">忘记密码？</a>
            		<a class="right">立即注册</a>
            </li>
            <li class="submit-wrap">
                <button class="btn" onclick="window.location.href='home.html';" >登录</button>
            </li>
            <li class="">
				<div class="alert alert-danger">
					<p>密码错误请重试！</p>
				</div>
			</li>
        </ul>
    </div>
    <img src="..//lib/style/images/login-bg.png" alt="" class="login-bg" />
</body>
</html>
<script src="../lib/init/loadFiles-after.js"></script>
<script type="text/javascript">
function showLogin(btn){
	if(btn=="hw"){
		$(".login-head .type").children("img").attr("src","../lib/style/images/logo-hua.png");
		$(".login-head .type").children(".desc").text("华为账号登陆");
	}else if(btn=="jc"){
		$(".login-head .type").children("img").attr("src","../lib/style/images/logo-ju.png");
		$(".login-head .type").children(".desc").text("聚传账号登陆");
	}else if(btn=="ybq"){
		$(".login-head .type").children("img").attr("src","../lib/style/images/logo-yi.png");
		$(".login-head .type").children(".desc").text("易版权账号登陆");
	}
	$(".intro-list").addClass("intro-list-hide");
	$(".login-input").addClass("login-input-show");
}

function retrunBtn(){
	$(".intro-list").removeClass("intro-list-hide");
	$(".login-input").removeClass("login-input-show");
}

$(function(){
	$(".rem-pass").interaction({type:"checkbox"});
})
</script>
