<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script src="../lib/init/loadFiles.js"></script>
<style type="text/css">
</style>
<style type="text/less">
</style>
</head>
<body>
    <div class="main-content main-content-setting">
	    <div class="scroll-wrapper content" id="content">
	    <ul class="setting-list">
	    		<li class="title">通用</li>
	    		<li>
	    			<span class="title">当前版本</span>
	    			<span class="desc">1.01</span>
	    		</li>
	    		<li onclick="window.location.href='intro.html';">
	    			<span class="title">退出</span>
	    		</li>
	    	</ul>	
	    	<ul class="setting-list">
	    		<li class="title">业务咨询</li>
	    		<li>
	    			<span class="title">客服电话</span>
	    			<span class="desc">010-63131050</span>
	    		</li>
	    		<li>
	    			<span class="title">Email</span>
	    			<span class="desc">kf@ecopyright.com.cn</span>
	    		</li>
	    		<li>
	    			<span class="title">联系地址</span>
	    			<span class="desc">北京市西城区天桥南大街1号天桥艺术大厦B座202</span>
	    		</li>
	    		<li>
	    			<span class="title">邮编</span>
	    			<span class="desc">100050</span>
	    		</li>
	    	</ul>
	    	<ul class="setting-list">
	    		<li class="title">商务合作</li>
	    		<li>
	    			<span class="title">电话</span>
	    			<span class="desc">010-63131210</span>
	    		</li>
	    		<li>
	    			<span class="title">Email</span>
	    			<span class="desc">xiongdu@ecopyright.com.cn</span>
	    		</li>
	    		<li>
	    			<span class="title">联系地址</span>
	    			<span class="desc">北京市西城区天桥南大街1号天桥艺术大厦B座202</span>
	    		</li>
	    		<li>
	    			<span class="title">邮编</span>
	    			<span class="desc">100050</span>
	    		</li>
	    	</ul>
	    	<ul class="setting-list">
	    		<li class="title">关于我们</li>
	    		<li>
	    			<p>易版权是北京数字认证股份有限公司（股票代码 300579）旗下的版信通打造的以版权服务为核心的互联网综合服务平台；其中APP软件著作权登记服务直通国家版权局，可实现移动APP软件著作权全程在线电子化申请、受理、审核和颁发纸质登记证书，并同步免费配发与纸质软著证书具有同等法律效力的电子版权登记证书。易版权在国家有关机构的大力支持下，在移动互联网领域积极与多家应用商店合作，可实现在APP软件上架环节更为快速的版权审核。易版权立足于自主创新技术，致力于打造移动互联网时代一站式综合服务平台，业务范围包括：移动APP软件版权登记、软件版权登记、作品版权登记、商标注册、游戏版号申请等服务。同时，还提供DCI（Digital Copyright Identifier，数字版权唯一标识符）版权信息查询、电子版权证书下载/查看、电子版权证书加载/验证等服务。易版权致力于服务著作权人，切实保护著作权人的合法权益，帮助提升软件及作品的版权价值，为广大互联网用户提供方便、快捷的一站式服务。</p>
	    		</li>
	    	</ul>
	    </div>
    </div>
    <div class="footer-wrapper">
    		<ul class="tab-footer">
    			<li>
    				<a href="home.html">
    					<i class="fa fa-home"></i>
    					<span class="desc">首页</span>
    				</a>
    			</li>
    			<li class="active">
    				<a href="setting.html">
    					<i class="fa fa-gear"></i>
    					<span class="desc">设置</span>
    				</a>
    			</li>
    		</ul>
    </div>
</body>
</html>
<script src="../lib/init/loadFiles-after.js"></script>
<script>
$(function(){
   
});
</script>
